.footer-contenedor{
    background-color: #343a40;
    padding: 20px 10px;
}

.footer-contenedor ul {
    text-align: left;
}

.footer-contenedor ul h3{
    color: white; 
}

/* .footer-contenedor ul a{
    color: white;
} */

.footer-contenedor ul li{
    margin-bottom: 10px;
    list-style: none;
}

.link-li{
    margin-bottom: 10px;
    display: block;
}

.footer-contenedor hr{
    color: white;
}

.footer-contenedor div{
    color: white;
    text-align: center;
}

.footer-contenedor div a {
    color: cornflowerblue;
}

.footer-contenedor-div{
    display: flex;
    justify-content: center;
}

.ul-float{
    display: none;
}

.footer-direccion{
    display: none;
}

@media screen and (min-width: 500px){

    .footer-contenedor-div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .ul-float{
        display: inline-block;
        justify-self: center;
    }
}

@media screen and (min-width: 600px){

    .footer-contenedor-div{
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-direccion{
        display: block;
    }

    .footer-direccion img{
        display: none;
    }
}

@media screen and (min-width: 800px){

    .footer-direccion img{
        display: block;
        width: 150px;
        margin: 0 auto;
        border: 1px solid white;
    }
}

@media screen and (min-width: 1000px){

    .ul-float{
        justify-self: flex-start;
    }

    .footer-direccion{
        justify-self: flex-start;
    }

}