.footer-contenedor{
    background-color: #343a40;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-contenedor ul h3{
    color: white; 
}

.footer-contenedor ul a{
    color: white;
}

.footer-contenedor ul li{
    margin-bottom: 10px;
}

.footer-contenedor hr{
    color: white;
}

.footer-contenedor div{
    color: white;
    text-align: center;
}

.footer-contenedor div a {
    color: cornflowerblue;
}