.titulo-web {
    font-size: 25px;
}

.me-auto{
    font-size: 20px;
}

.dropdown-item {
    font-size: 20px;
}

.navbar-brand {
    margin-right: 0rem !important;
}

.dropdown-item:nth-child(1) {
    margin-bottom: 10px;
}