.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-avatar1, .contenedor-avatar2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-img-avatar1, .contenedor-img-avatar2 {
    width: 280px;
    height: 280px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px #333;
    position: relative;
}

.img-avatar1 {
    width: 500px;
    position: absolute;
    top: -100px;
    left: -110px;
}

.img-avatar2 {
    width: 280px;
    position: absolute;
    top: -190px;
    left: 0px;
}

.contenedor-contenido-avatar1, .contenedor-contenido-avatar2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    
}

.contenedor-contenido-avatar1 p, .contenedor-contenido-avatar2 p{
    text-align: center;
}


@media screen and (min-width: 500px){
    .btn-nosotros{
        padding: 10px 30px;
    }

    .contenedor h2{
        font-size: 35px;
    }
}

@media screen and (min-width: 700px){

    .contenedor p{
        font-size: 20px;
    }

    .btn-nosotros {
        font-size: 20px;
    }
}

@media screen and (min-width: 800px){

    .contenedor-avatar1, .contenedor-avatar2{
        flex-flow: row;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .contenedor-img-avatar1, .contenedor-img-avatar2 {
        /* align-self: flex-end; */
        justify-self: center;
        
    }
    
    .contenedor-contenido-avatar1 , .contenedor-contenido-avatar1 {
        align-self: center;
        justify-self: center;
    }
}
