.ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ubicacion-h2 {
    margin-top: 20px;
    margin-bottom: 120px;
}

.ubicacion-contenedor{
    position: relative;
    display: flex;
    justify-content: center;
}

.ubicacion-img {
    position: absolute;
    top: -126px;
    width: 280px;
}

.google-map{
    z-index: 1000;
    position: relative;
}

.google-map {
    width: 95vw;
    height: 280px;
}

@media screen and (min-width: 600px){
    .ubicacion-h2{
        font-size: 35px;
        margin-bottom: 150px;
    }

    .ubicacion-img {
        position: absolute;
        top: -129px;
        width: 320px;
    }

    .google-map {
        height: 350px;
    }
}

@media screen and (min-width: 800px){
    .google-map {
        width: 760px;
    }
}

@media screen and (min-width: 1000px){
    .google-map {
        height: 400px;
    }
}